@media (max-width: 768px) {
    .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

body {
    background-color: #800080;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    margin: 20px;
}
.section {
    margin: 20px auto;
    max-width: 800px;
    background-color: #8b63d6;
    color: white;
    padding: 20px;
    border-radius: 10px;
    
}
.section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
}
